---
# Homepage configuration
# See https://fontawesome.com/search for icons options

# Jinja variable for the server address
{% set server_base_url = 'http://' + ansible_host %}

title: "Home server"
subtitle: "Nuage"

documentTitle: "Nuage"
icon: "fa-solid fa-cloud"

header: true # Set to false to hide the header
# Optional: Different hotkey for search, defaults to "/"
# hotkey:
#   search: "Shift"
footer: false

columns: "3" # "auto" or number (must be a factor of 12: 1, 2, 3, 4, 6, 12)
connectivityCheck: true # whether you want to display a message when the apps are not accessible anymore (VPN disconnected for example).
                        # You should set it to true when using an authentication proxy, it also reloads the page when a redirection is detected when checking connectivity.

# Optional: Proxy / hosting option
proxy:
  useCredentials: false # send cookies & authorization headers when fetching service specific data. Set to `true` if you use an authentication proxy. Can be overrided on service level.
  headers: # send custom headers when fetching service specific data. Can also be set on a service level.
    Test: "Example"
    Test1: "Example1"

# Set the default layout and color scheme
defaults:
  layout: columns # Either 'columns', or 'list'
  colorTheme: dark # One of 'auto', 'light', or 'dark'

# Optional theming
theme: "neon" # 'default' or one of the themes available in 'src/assets/themes'.

# Optional navbar
# links: [] # Allows for navbar (dark mode, layout, and search) without any links
links:
  - name: "Link 1"
    icon: "fab fa-github"
    url: "https://github.com/bastienwirtz/homer"
    target: "_blank" # optional html tag target attribute
  - name: "link 2"
    icon: "fas fa-book"
    url: "https://github.com/bastienwirtz/homer"
  # this will link to a second homer page that will load config from page2.yml and keep default config values as in config.yml file
  # see url field and assets/page.yml used in this example:
  - name: "Second Page"
    icon: "fas fa-file-alt"
    url: "#page2"

# Services
# First level array represents a group.
# Leave only a "items" key if not using group (group name, icon & tagstyle are optional, section separation will not be displayed).
services:
  - name: " Application "
    icon: "fa-solid fa-code"
    # A path to an image can also be provided. Note that icon take precedence if both icon and logo are set.
    # logo: "path/to/logo"
    # class: "highlight-purple" # Optional css class to add on the service group.
    items:
      - name: "Jellyfin"
        icon: "fa-solid fa-film"
        subtitle: "The free media system"
        tag: "Streaming"
        keywords: "jellyfin streaming video movie shows series" # optional keyword used for searching purpose
        url: "{{ server_base_url }}:8096"
        target: "_blank" # optional html tag target attribute
      - name: "Gitea"
        icon: "fa-brands fa-git-alt"
        subtitle: "Git"
        tag: "app"
        # Optional tagstyle
        tagstyle: "is-success"
        url: "{{ server_base_url }}:8080"
      - name: "Syncthing"
        icon: "fa-brands fa-git-alt"
        subtitle: "Git"
        tag: "app"
        # Optional tagstyle
        tagstyle: "is-success"
        url: "{{ server_base_url }}:8384"
